@import "node_modules/bulma/bulma";

.words__container{
  padding: 20px;

  .column{
    margin: 10px;

    h1{
      font-size: $size-4;
      text-transform: capitalize;
      border-bottom: 1px solid $grey-light;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}

.tags__container{
  .tag{
    cursor: pointer;
    transition: background .2s ease;
    margin: 5px;

    &:hover{
      background: $turquoise;
    }
  }
}

.search__container{
  width: 500px;
  margin: 20px auto 0 auto;
  text-align: center;
}

.result__container{
  .result__example{
    margin: 20px 0;
  }
  .result__info{
    max-height: 310px;
    overflow: hidden;
    position: relative;

    &.result__info-overflow{
      max-height: none;

      .result__show-more{
        display: none;
      }
    }
  }
  .result__footer{
    margin-top: 10px;
  }
  .result__show-more{
    position: absolute;
    background: white;
    top: 285px;
    bottom: 0;
    width: 100%;
    text-align: center;

    .result__show-more__button{
      width: 110px;
      background: $blue;
      margin: 0 auto;
      border-radius: 3px;
      color: white;
      padding: 2px 0;
      cursor: pointer;
    }
  }
}